.submit-inputs {
    width: 350px;
    height: 50px;
    margin-left: 70px;
    border: none;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: white;
    background-color: cornflowerblue;
    color: white;
}



.submit-inputs:hover {
    transition: 0.3s;
    background-color: #8181ab;
    color: white;
}

.google-sign-in-btn {
    background-color: white;
    border: none;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

.facebook-sign-in-btn {
    background-color: white;
    border: none;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}

.google-sign-in-btn:hover {
    transition: 0.3s;
    background-color: darkslategray;
    color: white;
}

.facebook-sign-in-btn:hover {
    transition: 0.3s;
    background-color: blue;
    color: white;
}


.google-logo {
    width: 50px;
}