.card-image {
    width: 350px;
}

.service-cards {
    margin: 5px;
}

.teacher {
    width: 90px;
    border-radius: 50px;
    position: relative;
    bottom: 50px;
    margin-left: 125px;
}

.enroll-btn {
    background-color: lightblue;
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
    display: flex;
    margin-left: 120px;
    border: 2px solid blue;
}

.enroll-btn:hover {
    transition: 0.5s;
    background-color: blue;
    color: white;
}

.sub-name {
    font-weight: 900;
    position: relative;
    bottom: 10px;
}

.teacher-name {
    position: relative;
    bottom: 40px;
}



.single-card {
    width: 350px;
    height: 620px;
    margin: 6px;
}