.logo {
    width: 100px;
    /* margin-right: 1000px; */
}

.links {
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.sign-out {
    border: none;
    background-color: white;
    font-weight: 700;
}

.header {
    background-color: transparent;
}

.navigation-bar {
    background-color: transparent;
}